<h1 class="text-center">New Product</h1>


<div style="position: relative;">
<div style="position: absolute; top:-30px; right: 160px" >
<button type="button" class="btn btn-outline-info position-absolute; top:30px;"><%= link_to 'Back', products_path,class:"text-decoration-none text-black" %></button>
</div>
</div> 

 <%= render 'form', product: @product %>
